.slides {
    background-color: black !important;
}

#header {
    height: 100vh;
    width: 100vw;
    background: #444;
    top: 0px;
    position: relative;
    z-index: 1;
}

#header:before {
    content: "";
    position: absolute;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background: url('https://raw.githubusercontent.com/patrickonparker/Bernadette-Foreclosure/gh-pages/img/TF-Logo.png') no-repeat center center, rgba(0, 0, 0, 0.30);
    background-size: calc(.5 * (35vh + 35vw));
}

#header:after {
    content: "";
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    box-shadow: inset 0 0 calc(3vh + 3vw * 0.5) calc(3vh + 3vw * 0.5) rgba(0, 0, 0, 0.25);
}

.face {
    min-height: 0px !important;
    background: top center no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 20vw;
}

.faceRow {
    height: 20vh;
}

.faceCol {
    height: 20vh !important;
}

#demands {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2.5em;
}

.title {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
    color: white;
    background: black;
}

.title hr {
    background: white;
    margin-top: 1em;
}

hr {
    width: 30%;
    height: 0.33em;
    background: black;
    margin-bottom: 1.6em;
}

p {
    font-weight: 600;
    font-size: 1.1em;
}

h5 {
    text-transform: uppercase;
    font-weight: 600;
}

ol {
    text-align: left;
    font-weight: 600;
    font-size: 1.2em;
}

ol li {
    margin-bottom: .5em;
}

.slider {
    background: black !important;
}

.indicators {
    margin: 0px !important;
    padding: 0px !important;
    position: absolute;
    bottom: 4px !important;
    z-index: 999;
}

@media only screen and (min-width:1024px) {
    .slider {
        height: 660px !important;
    }
    .slides {
        height: 660px !important;
    }
}

@media only screen and (max-width:1023px) {
    .slider {
        height: 440px !important;
    }
    .slides {
        height: 440px !important;
    }
}

.caption {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    text-align: left !important;
    top: auto !important;
    bottom: 2em !important;
    left: 2em !important;
    width: calc(100% - 4em) !important;
    border-top: .25em solid white;
    border-bottom: .25em solid white;
    padding-bottom: 1px !important;
}

.caption h5 {
    font-family: 'Roboto' !important;
    font-weight: 500 !important;
    font-size: 1.4em;
    text-transform: none;
}

.slides li img {
    box-shadow: inset 0px -35vh 40vw -20vw rgba(0, 0, 0, 1) !important;
}

.indicator-item {
    background-color: #888 !important;
    width: 8px !important;
    height: 8px !important;
    margin-left: 6px !important;
    margin-right: 6px !important;
}

.indicator-item.active {
    background-color: white !important;
}

.factShare {
    position: absolute;
    right: 0px;
    bottom: -30px;
}

.factShare a {
    color: white;
}

.slideLabel {
    position: absolute;
    bottom: -30px;
}

.actionCardTitle {
    height: 6em;
    background: white;
}

.actionCardContent {
    height: 20em;
}

#action .row {
    margin: 0px;
    padding: 0px;
}

#action .col {
    margin: 0px;
    padding: 0px;
}
