/* COMPONENTS */

body {
	overflow-x: hidden;
}

.preloader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: white;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
}

a,
.collection a.collection-item {
	color: #673ab7;
}

.collection {
	border-radius: 20px;
}

.btn-large {
	border-radius: 30px;
}

.card a:not(.btn-large) {
	font-weight: bold;
}

.card-action a {
	white-space: nowrap;
}

/* VIDEO */

.background-video {
	position: fixed;
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
	z-index: -1;
}

/* NAV */

.nav-extended {
	background: rgba(0, 0, 0, 0.75);
}

.nav-wrapper {
}

.brand-logo {
	font-weight: bold;
	cursor: pointer;
	margin: 0 30px;
}

.sidenav {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sidenav li a {
	font-size: 18px;
	font-weight: bold;
	border: none;
}

.sidenav li:not(:last-of-type) {
	border-bottom: 1px solid dimgrey;
}

.nav-tabs .tabs {
	width: 100%;
	display: flex;
	justify-content: center;
	background: #444;
	border-top: 1px solid #555;
	box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
}

#nav-mobile {
	margin-right: 15px;
}

#nav-mobile.right a[href*="facebook"]:hover {
	background: #3b5998;
}

#nav-mobile.right a[href*="twitter"]:hover {
	background: #1da1f2;
}

#nav-mobile.right a[href*="youtube"]:hover {
	background: #ff0000;
}

.tab {
	border-right: 1px solid #333
}

.tab:hover {
	background: rgba(255, 255, 255, 0.1)
}

.tab:first-of-type {
	border-left: 1px solid #333;
}

.tabs .tab a {
	font-weight: bold;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
	background: transparent;
}

body>.tabs-content.carousel.carousel-slider {
	width: 100%;
	height: calc((var(--vh, 1vh) * 100) - 112px) !important;
	top: 48px;
}

.nav-arrow {
	display: none;
	position: absolute;
	top: calc(50% - 27px);
	align-items: center;
	justify-content: center;
	width: 54px;
	opacity: 0;
	z-index: 10;
}

.active .nav-arrow {
	opacity: 1;
	transition: .75s .75s;
}

.nav-arrow.right {
	right: 30px;
}

.nav-arrow.left {
	left: 30px;
}

.nav-arrow-label {
	display: none;
}

.nav-arrow.right .nav-arrow-label {
	margin-right: 10px;
}

.nav-arrow.left .nav-arrow-label {
	margin-left: 10px;
}

.nav-arrow.right[onclick*="set"] .nav-arrow-label {
	margin: 0 0 0 10px;
}

.nav-arrow:hover {
	width: auto;
}

.nav-arrow:hover .nav-arrow-label {
	display: block;
}

/* SECTIONS */

section {
	padding: 60px;
}

.section-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background: white;
	border-radius: 30px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.sub-section {
	width: 100%;
	height: 100%;
	padding: 0 30px 30px 30px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.accent {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.66);
	overflow: hidden;
}

.sub-section p,
.sub-section li {
	font-size: 18px;
}

.sub-section li {
	margin-bottom: 1em;
}

.sub-section:not(.accent) > *:last-child {
	margin-bottom: 0px;
}

/* HOME */

#home .section-wrapper {
	background: none;
	box-shadow: none;
}

.coalition-logo {
	width: 400px;
	height: 400px;
}

.home-footer {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 50px;
	text-align: center;
}

/* THE FACTS */

#thefacts .accent {
	background-image: url('assets/aerial.jpg');
}

/* GET HELP */

#gethelp .accent {
	background-image: url('assets/family.jpg');
}

/* TAKE ACTION */

#takeaction {
	background: transparent;
	padding: 45px 0;
}

#takeaction.active {
	animation: fadetodark 2s;
	background: rgba(0, 0, 0, 0.5);
}

#takeaction .section-wrapper {
	flex-wrap: wrap;
	background: none;
	box-shadow: none;
}

@keyframes fadetodark {
	0% {
		background: transparent;
	}

	50% {
		background: transparent;
	}

	100% {
		background: rgba(0, 0, 0, 0.5);
	}
}

.action-wrapper {
	width: 33%;
	height: 50%;
	padding: 15px;
}

.action-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	background-size: cover !important;
}

.action-item .header {
	height: 2.5em;
	background: white;
	color: black;
	font-size: 18px;
	line-height: 2.5em;
	font-weight: 500;
	text-align: center;
}

.action-item .btn-large {
	margin: 20px;
}

.action-item .btn-large:not(:last-of-type) {
	margin-bottom: 0;
}

.action-buttons {
	display: flex;
	flex-flow: row wrap;
}

#events {
	background: black url('assets/block.jpg') no-repeat center;
}

#policy {
	background: black url('assets/detroit.jpg') no-repeat right;
}

#help {
	background: black url('assets/family.jpg') no-repeat center;
}

#literature {
	background: black url('assets/learnMore.jpg') no-repeat left;
}

#newsletter {
	background: black url('assets/planning.jpg') no-repeat left;
}

#socials {
	background: black url('assets/aerial.jpg') no-repeat left;
}

.event {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	line-height: 1em;
}

.target-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-grow: 1;
	padding: 20px;
}

.target {
	display: flex;
	align-items: center;
	color: white;
	line-height: 1em;
	border-radius: 30px;
	background: rgba(0, 0, 0, 0.75);
	margin-top: 10px;
}

.target img {
	height: 54px;
	width: 54px;
	margin-right: 10px;
}

#newsletter form {
	position: relative;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px 20px;
	font-weight: bold;
}

#newsletter form .btn-large {
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 40px);
}

#newsletter form .row,
#newsletter form .col {
	margin: 5px 0 0 0;
}

.social-container {
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
}

.social-container h4 {
	text-shadow: 1px 1px 3px black;
	font-weight: bold;
}

.action-item .social-container .btn-large {
	margin: 0 10px 20px 10px;
}

.fb {
	background: #3b5998 !important;
}

.tw {
	background: #1da1f2 !important;
}

.yt {
	background: #ff0000 !important;
}

/* ABOUT US */

#aboutus .accent {
	background: url('assets/block.jpg') center center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#partners img {
	height: 100px;
	padding: 10px;
}

/* CONTACT US */

#contactus .accent {
	background: url('assets/planning.jpg') 7% 60%;
}

#contactus form .row {
	margin-bottom: 0;
}

#contactus a.btn-large {
	margin-bottom: 1em;
}

/* MODALS */

.modal {
	background: white;
	border-radius: 30px;
	-webkit-overflow-scrolling: touch;
}

.modal .collection {
	margin: 0;
}

.modal a.collection-item {
	color: black;
}

.modal .collection-item p {
	margin: 0;
	font-weight: bold;
}

.modal iframe {
	margin-bottom: -5px;
}

.modal.bottom-sheet {
	max-height: 66%;
	height: auto;
}

.chip {
	font-weight: bold;
	margin-top: 1em;
}

/* MEDIA QUERIES */

@media (min-width: 1400px) {

	.nav-arrow {
		display: flex;
	}

}

@media (min-width: 1025px) {

	#takeaction h1,
	.accent h1 {
		display: none;
	}

	.tab-section,
	.section-wrapper {
		overflow: hidden;
	}

	.video-container {
		border-radius: 20px;
	}

}

@media (max-width: 1024px),
(max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

	.nav-wrapper {
		padding: 0 10px;
	}

	.tabs {
		display: none !important;
	}

	.tabs-content {
		height: auto !important;
		top: 0;
	}

	.tab-section {
		transform: none !important;
		position: relative;
		z-index: 1 !important;
		visibility: visible !important;
		opacity: 1 !important;
		padding: 0;
		height: auto !important;
	}

	.section-wrapper {
		flex-direction: column-reverse;
		border-radius: 0;
		box-shadow: none;
	}

	.sub-section {
		overflow: auto;
	}

	#takeaction .section-wrapper {
		flex-direction: row;
		padding: 20px;
	}

	#takeaction h1 {
		margin-left: 30px;
		margin-bottom: 0px;
		font-weight: bold;
		color: white;
		text-shadow: 3px 3px 5px black;
	}

	.action-wrapper {
		width: 50%;
		padding: 20px;
	}

	.action-item {
		height: 300px;
	}

	#home {
		height: calc((var(--vh, 1vh) * 100) - 64px) !important;
	}

	.coalition-logo {
		height: 300px;
		width: 300px;
	}

	.sub-section:not(.accent) h1 {
		display: none;
	}

	.sub-section:not(.accent) {
		margin-top: 30px;
	}

	.accent {
		display: flex;
		align-items: center;
		height: 250px;
		position: relative;
		background-position-y: 10%;
		box-shadow: none;
	}

	.accent h1 {
		position: relative;
		font-weight: bold;
		color: white;
		z-index: 2;
	}

	.accent:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 1;
	}

	.accent img {
		display: none;
	}

	#aboutus .accent {
		justify-content: flex-start;
	}

}

@media (min-width: 1025px) and (max-height: 768px) {

	.tab-section {
		padding: 0;
	}

	.section-wrapper {
		margin: 0;
		max-width: 100%;
		border-radius: 0;
	}

	#takeaction {
		padding: 30px;
	}

	.action-wrapper {
		padding: 10px;
	}

	.accent {
		width: 33%;
		flex-shrink: 0;
	}

	.coalition-logo {
		width: 250px;
		height: 250px;
	}

	#aboutus .coalition-logo {
		width: 200px;
		height: 200px;
	}

}

@media (max-width: 768px),
(max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {

	.action-wrapper {
		width: 100%;
	}

}

@media (max-width: 600px) {

	#home {
		height: calc((var(--vh, 1vh) * 100) - 56px) !important;
		background: url('assets/buildings.jpg') no-repeat right;
		background-size: cover !important;
	}

	#takeaction,
	#takeaction.active {
		background: white;
		animation: none;
	}

	#takeaction h1 {
		margin-top: 39.2px;
		color: black;
		text-shadow: none;
	}

	#partners img,
	.card img {
		height: 75px;
	}

}

@media (max-width: 1100px) {

	.btn-large span {
		display: none;
	}

}

@media (-ms-high-contrast: none),
(-ms-high-contrast: active) {

	/* IE10+ styles */
	.nav-arrow {
		display: none;
	}

}